* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* ---------Common Styles------------ */
.dark-1 {
    color: #3A3A3A;
}

.display-flex {
    display: flex;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 24px;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
}


/* ---------Specific Styles--------- */
/* navbar */
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

.nav-container {
    justify-content: space-between;
}

.nav-menu {
    list-style: none;
    gap: 34px;
}

.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/* banner */
.banner {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.banner-container {
    max-width: 540px;
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.banner-des {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-prod {
    background-image: url(../images/Circle-design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-img {
    max-width: 100%;
    padding: 1.8rem 1.8rem 1.8rem 3px;
}

/*------------e-com-platforms-------- */
.e-com-platforms {
    max-width: 1110px;
    padding: 35px 62px;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid rgba(192, 204, 218, 0.6);
}

.e-com-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 1rem;
}

.e-com-container img {
    max-width: 100%;
}

/* -----------Featured Products------- */
#featured-products {
    padding-top: 100px;
    padding-bottom: 100px;
}

.featured-container {
    max-width: 1110px;
    margin: 0 auto;
}

.f-heading {
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
}

.featured-info {
    align-content: center;
}

.f-des {
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
    line-height: 28px;
    max-width: 500px;
    margin-bottom: 1rem;
}

.f-btn {
    border-radius: 0px;
}

.featured-container {
    display: flex;
    gap: 96px;
}

/* -----------Footer--------------- */

footer {
    background-color: #0A0826;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer-container {
    max-width: 262px;
    text-align: center;
    margin: 0 auto;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.copy-right {
    font-size: .8rem;
    font-weight: 700;
    color: white;
}

.socials {
    padding-top: 17px;
}

.socials a {
    margin-right: 16px;
    margin-top: 17px;
}

/* ===============responsive=============== */
/* navbar */
@media screen and (max-width: 576px) {

    .nav-container,
    .nav-menu {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }

    .nav-menu {
        margin-top: 1rem;
        gap: 10px;
    }
}

/* banner */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        padding: 3%;
    }

    .banner-container {
        text-align: center;
    }

    .banner-title {
        font-size: 1.75rem;
        margin-top: 15px;
    }
}

/* e-com-platforms */
@media screen and (max-width: 576px) {
    .e-com-platforms {
        border: none;
        margin-top: 25px;
    }

    .e-com-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        align-content: start;
    }

    .e-com-platforms {
        max-width: 1110px;
        padding: 40px;
        margin: 0 auto;
        margin-top: 70px;
    }

    .e-com-container img {
        max-width: 20%;
    }

    /* Featured Products */
    .featured-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    #featured-products {
        padding: 30px 15px;
    }

    .featured-info {
        text-align: center;
    }

    .f-heading {
        font-size: 1.5rem;
    }

}